fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
pgvector

python-dotenv
pydantic
pydantic-settings

sentence-transformers
torch

spacy

llama-index

datasets
transformers

rank-bm25

groq

python-multipart
httpx

alembic

tiktoken
numpy
pandas